.main article{
  clear: both;
  float: none;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.entry{
  float: left;
  padding: 10px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.entry.narrow{ width: 22%; }
.entry.normal{ width: 30%; }
.entry.wide{ width: 43%; }

@media (max-width: 480px) {
  .entry.narrow{ width: 96%; }
  .entry.normal{ width: 96%; }
  .entry.wide{ width: 96%; }
}

@media (min-width: 481px) {
  .span10 .entry.narrow{ width: 19%; }
  .span10 .entry.normal{ width: 28%; }

  .span9 .entry.narrow{ width: 20%; }
  .span9 .entry.normal{ width: 27%; }

  .span8 .entry.narrow{ width: 20%; }
  .span8 .entry.normal{ width: 28%; }

  .span7 .entry.narrow{ width: 19%; }
  .span7 .entry.normal{ width: 27%; }

  .span6 .entry.narrow{ width: 27%; }
  .span6 .entry.normal{ width: 42%; }

  .span6 .entry.wide.fixed{ width: 96%; }
}

.post-nav{
  clear: both;
  float: none;
}

.entry-content .pull-left{
  max-width: 100%;
  height:auto;
}

#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 50%;
  width: 220px;
  height: auto;
  padding-top: 0px;
  margin-left: -100px;
  z-index: 100;
  background: transparent ;
  overflow: hidden;
}

#infscr-loading img {
  display: none;  
}

.gridder_bar_text {
  position: relative;
  top: 2px;
}
