#main .articles{
  clear: both;
  float: none;
}

.entry{
  float: left;
  padding: 10px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.spn1{ width: 100%; }

@media (min-width: 768px) {
  .spn2{ width: 45% }
  
  .spn3{ width: 30%; }
  
  .spn4{ width: 22% }
}

@media (max-width: 767px) {
  .spn1, .spn2, .spn3, .spn4{ width: 95%; }
}

#post-nav{
  clear: both;
  float: none;
}

.entry-content .pull-left{
  max-width: 100%;
  height:auto;
}
